body{
    margin: 0;
    background-color: #d0cab5;
    overflow-y: hidden;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    color: #254336;
    font-family: 'Roboto', sans-serif;
    resize: none;
    border: 0;
}
.empty{
    color: #254336;
    text-align: center;
    font-size: 65px;
    margin-top: 5%;
}
*::placeholder{
    color: rgb(102, 117, 99);
}

#tago{
    position: fixed;
    top:0;
    height: 10%;
    width: 100vw;
    background-color: #1e362c;
}

header{
    height: 10vh;
    transition: 0.5s ease;
}
header div ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 50;
    box-shadow: 0 3.5px 5px rgb(32, 32, 32);
    top: 0;
    width: 100vw;
    position: fixed;
    height: 10vh;
    background-color: #254336;
    
}
header div ul li{
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
}

header div ul li *{
    color: #DAD3BE;
    text-shadow: -3px 3px 5px rgb(17 17 17);
}
header div ul li{
    cursor: pointer;
}

header div ul li h1{
    font-size: 55px;
    margin-right: 700px;
}
#left-container div{
    width: 90%;
    margin-top: 12.3%;
    margin-bottom: 5%;
}

@media (width: 1000px) and (width:1200px){
    h1{
        font-size: 1500px;
    }
}

.select-list-date{
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    gap: 10%;
}
#select-date-container{
    gap: 15.59%;
}
#select-date-container input{
    width: 47%;
}
.select-list-date select{
    font-size: 25px;
    padding-left: 10px !important;
    padding: 5px;
    border: #254336 2px solid;
    background-color: #DAD3BE;
    border-radius: 10px;
    width: 50%;
}
.add-edit-task-buttons input[type="reset"]:hover,#add-edit-list-buttons input[type="reset"]{
    background-color: rgb(56, 0, 0) !important;
    color: #DAD3BE;
}
.add-edit-task-buttons{
    flex-direction: row !important;
    margin-top: 6.7%;
}
.add-edit-task-buttons input[type="submit"],#add-edit-list-buttons input[type="submit"]{
    color: #DAD3BE;
    background-color: #254336 !important;
}
.add-edit-task-buttons input[type="submit"]:hover,#add-edit-list-buttons input[type="submit"]:hover{
    background-color: #1e362c !important;
}
.add-edit-task-buttons input,#add-edit-list-buttons input{
    text-align: center;
    width: 40%;
    margin: 10px;
    cursor: pointer;
    transition: 0.23s ease;
    height: 60px;
}
#list-input-container input{
    font-size: 20px;
    padding: 5px;
    padding-left: 10px ;
    border: 1px solid #254336;
    border-radius: 10px;
    background-color: #d0cab5;
    width: 90%;
}
#list-input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#list-input-container h3{
    font-size: 30px;
}

#add-edit-list-buttons input{
    border-radius: 12px;
}
#add-edit-list-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 100%;
}
.select-list-date *{
    align-self: center !important;
}
#title-description-container *,.select-list-date *{
    margin-top: 17px;
    margin-bottom: 17px;
}

#left-container div ul li:hover{
    background-color: #254336;
    color: #DAD3BE;
    letter-spacing: 2.5px;
}



#panis{
    position: fixed;
    bottom: 3.7%;
}
#lists-container ul{
    height: 208.875px;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    background-color: #d0cab5;
    width: 10px;
    border-radius: 5px;
    
}

::-webkit-scrollbar:hover{
    background-color: #ece6d0;

}

::-webkit-scrollbar-thumb{
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(63, 63, 63);
}

#left-container div ul li{
    transition: 0.15s ease;
    cursor: pointer;
    border-radius: 12px;
    padding: 4%;
    margin-left: 5%;
    font-size: 145%;
}

#left-container h2,#left-container hr{
    margin-top: 7.9%;
}
#right-container div h2{
    margin: 5.1px;
}
.date-and-time,.task-progress{
    margin: 5.75% 0 5.75% 0;
    width: 100%;
}
.task-progress section div div{
    height: 50px;
    width: 50px !important;
    border-radius: 50%;
    background-color: #293b49;
}

#incomplete-donut{
    background-color: #808080 ;
}

.date-and-time{
    font-size: 35.5px;
}
.task-progress{
    font-size: 25px;

}
#profile-modal footer{
    font-size: 10px;
    font-weight: 300;
}

#edit-delete-list-container{
    position: fixed;
}
#delete-list-button{
    /* background-color: ; */
}
#edit-delete-list-container form button{
    height: 50px;
    width: 50%;
    color: #DAD3BE;
    background-color: #254336;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
    margin-left: 4.8%;

}

#profile-modal{
    position: fixed;
    background-color: #DAD3BE;
    width: 20%;
    height: 23%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    right: 1%;
    top: 8.5%;
    border-radius: 12px;
    box-shadow: 0 3px 5px black;

}

#profile-modal *{
    color: #1e362c;
    font-size: 25px;
    padding: 15px;
    width: 91%;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    transition: 0.1s ease;
}

#profile-modal a[href="/pea/logout"]:hover{
    background-color: rgb(56, 0, 0);
}
#profile-modal-username{
    background-color: #293b49;
}
#profile-modal-username,#profile-modal a[href="/pea/logout"]:hover{
    color: #DAD3BE;
}
#profile-modal a[href="/pea/logout"]{
    color: #254336;
}
#profile-modal a{
    border-radius: 12px;
}
#profile-modal-username:hover{
    background-color: #22303c;
}

.task-progress section{
    width: 100%;
}
.task-progress section div{
    margin: 1%;
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: 10%;
    justify-content: center !important;
}

#incomplete-label-container{
    gap: 9.5%;
}

#date-and-time-progress-display-container, #date-and-time-progress-display-container div{
    display: flex;
}
#date-and-time-progress-display-container{
    margin: 8px 0 7px 0;
}


#date-and-time-progress-display-container, #date-and-time-progress-display-container div,#add-edit-task-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
#add-edit-task-container div{
    width: 100%;
}
#date-and-time-progress-display-container{
    width: 85%;
}


#donut div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bolder;
    height: 55%;
    width: 55%;
    z-index: 100;
    border-radius: 50%;
    background-color: #d0cab5;
    
}
#donut{
    height: 300px;
    width: 300px !important;
    border-radius: 50%;
    background: conic-gradient(#293b49 0% 70%, #808080 70% 100%);
}

h2,h3,h1{
    font-weight: bolder;
}
#prompt-message{
    position: fixed;
}

#middle-container #title{
    font-size: 20px;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#middle-hr-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#middle-container #title form select{
    border-radius: 7px;
}
.select-list-date input, .select-list-date select,#middle-container #title form select{
    cursor: pointer;
}
#middle-container #title form select option,#middle-container #title form select{
    background-color: #293b49;
    color: #DAD3BE;
    border: 2px solid #1e362c;
    box-shadow: 0 3px 3px black;
}
#middle-container hr{
    width: 95% !important;
}


#middle-container #title h2{
    font-size: 45px !important;
}
#todo-lists-container{
    overflow-y: scroll;
    height: 86.5%;
}
#tasks-display-container{
    height: 100%;
}

#left-container footer{
    margin-top: 2.3%;
    font-size: 12px;
}
#right-container footer{
    margin-top: 1.575%;
    font-size: 12px;
}

#left-container h2,#right-container h2{
    font-size: 45px;
    text-align: center;
}

#left-container div h3{

    font-size: 35px;

}

header div ul li:hover{
    h2{
        color: lightgreen !important;
        text-decoration: underline;
    }
}
/* header div ul li h2:hover{
    color: lightgreen;
    text-decoration: underline;
    
} */


header div ul form input{
    cursor: text;
    background-color: #d0cab5;
    height: 40px;
    width: 210px;
    padding-left: 10px;
    color: #254336;
    border-radius: 12px;
    text-shadow: 0 0 0 black !important;
}

header div ul img{
    height: 50px;
    width: 50px;
}
.list-no-hover{
    height: auto;
    width: auto;
    
}

#profile-logo{
    border-radius: 50%;
    transition: 0.07s ease;
    cursor: pointer;
}
#profile-modal *{
    text-shadow: 0 0 0 black;
}
.list-no-hover:hover,#list-search:hover{
    background-color: #254336 !important;
    cursor: default;
}
#list-search{
    width: 250px;
}
.containers hr{
    width: 90%;
    background-color: #254336;
    height: 3px;
}



#list-profile-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
#left-container,#right-container{
    box-shadow: 0 1px 10px black;
    height: 90vh;
    z-index: 45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#middle-container{
    height: 90vh;
    z-index: 40;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

#right-container{
    box-shadow: -1px 0 10px black !important;
}

main{
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:0.5fr 1fr 0.7fr;
}

#create-new-button{
    position: fixed;
    background-color: #293b49;
    color: #DAD3BE;
    height: 50px;
    width: 100px;
    font-size: 17px;
    border-radius: 12px;
    bottom: 15%;
    z-index: 150;
    cursor: pointer;
    margin-left: 0.4%;
    transition: 0.23s ease;
    border: 2px solid rgb(0, 19, 41);
    box-shadow: 0 2px 3px rgb(71, 71, 71);
}
#add-edit-task-container{
    width: 90% !important;
}
#add-edit-task-container form,#add-edit-task-container form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add-edit-list-container{
    display: none;
    position: fixed;
    height: 20%;
    width: 20%;
    border-radius: 12px;
    background-color: #ece6d0;
    z-index: 100;
    right: 40%;
    bottom: 40%;
    box-shadow: 0 3px 4px black;
}

#add-edit-list-container form,#add-edit-list-container{
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
#add-edit-list-container form{
    display: flex;
    width: 100%;
}
#add-edit-task-container form div{
    align-items: flex-start !important;
}
.select-list-date h4{
    font-size: 25px;
}
#task-container-header,#task-container-data{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: center;
}
#task-container-header *,#task-container-data *{
    width: 50%;
    text-align: center;
}

#to-do-list{
    position: fixed;
    z-index: 150;
    margin-left: 1%;
    margin-top: -1.5%;
}
#task-buttons,#task-buttons form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
#task-buttons button{
    transition: 0.1s ease;
}
.task-container{
    border: #254336 2px solid;
    border-bottom: #254336 3px solid;
    box-shadow: 0 5px 5px rgb(87 87 87);
    border-radius: 12px;
    height: 31.29vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4.15% 0 5% 0;
    margin-left: 13.5%;
    gap: 8.7%;
    background-color: #DAD3BE;
}
.task-container h2{
    text-decoration: underline;
}

.task-container button{
    height: 30px;
    width: 25%;
    border-radius: 10px;
    color: #DAD3BE;
    cursor: pointer;
    border: 1px rgb(39, 39, 39) solid;
    box-shadow: 0 1.5px 3px rgb(73, 73, 73);
    font-size: 15px;
    font-weight: bold;
}
#task-delete-button{
    background-color: rgb(56, 0, 0);
    
}

#task-mark-as-complete-button{
    background-color: rgb(214, 214, 214);
    color: #1e362c;
}
#task-edit-button{
    background-color: #254336;
}
#total-pending-tasks{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 2%;
    gap: 2%;
}
#total-pending-tasks div{
    box-shadow: 0 0 3px rgb(41, 41, 41);
    width: 100px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DAD3BE;
}
#add-edit-task-container form input,#add-edit-task-container form textarea{
    padding-left: 10px !important;
    padding: 5px;
    font-size: 25px;
    border: #254336 2px solid;
    border-radius: 10px;
    background-color: #DAD3BE;
}
#add-edit-task-container{
    display: none;
    margin: 14px 0 14px 0;
}

#add-task-title{
    border-radius: 10px 10px 0 0 !important;
}
#title-description-container textarea,#add-task-title{
    width: 96.8%;
}
#add-edit-task-container form h3{
    font-size: 35px;
}


#create-new-modal-container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    background-color: #DAD3BE;
    height: 20%;
    width: 15%;
    border-radius: 12px;
    bottom: 22%;
    margin-left: 4%;
    box-shadow: 0 2px 7px black;
    z-index: 150;
    transition: 0.3s ease-in;
}

#create-new-modal-container h2,.create-new-item-buttons{
    text-align: center;
    margin: 5%;
}

#create-new-item-buttons-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.create-new-item-buttons{
    width: 90%;
    font-size: 25px;
    background-color: #293b49;
    border-radius: 12px;
    color: #DAD3BE;
    cursor: pointer;
    border: 1px rgb(36, 36, 36) solid;
    transition: 0.17s ease;
    box-shadow: 0 1px 3px black;
}


#sort-container{
    position: fixed;
    width: 5.75%;
    height: 5.7%;
    right: 33%;
    margin-top: 3%;
}


