<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>

    <meta property="og:title" content="PEA TO-DO LIST APPLICATION"/>
    <meta property="og:description" content="A simple and intuitive to-do list application designed to help you organize tasks, boost productivity, and keep track of your daily activities"/>
    <meta property="og:image" content="https://www.pea-todo-list-application.onrender.com/static/images/checklist.png"/>
    <meta property="og:url" content="https://www.pea-todo-list-application.onrender.com"/>

    <link rel="icon" type="icon" th:href="@{/images/checklist.ico}" />

    <link th:href="@{/css/authenticated/homePage.css}" rel="stylesheet"/>

    <link th:href="@{/css/mediaQueries/authenticated.css}" rel="stylesheet"/>

</head>
<body style="display: flex;
align-items: center;
justify-content: center;
height: 100vh;">
    
    <img th:src="@{https://i.pinimg.com/736x/ba/8f/75/ba8f75b795a60f216cfe5f1bb2071006.jpg}"/>

</body>
</html>