<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:title" content="PEA TO-DO LIST APPLICATION"/>
    <meta property="og:description" content="A simple and intuitive to-do list application designed to help you organize tasks, boost productivity, and keep track of your daily activities"/>
    <meta property="og:image" content="https://www.pea-todo-list-application.onrender.com/static/images/checklist.png"/>
    <meta property="og:url" content="https://www.pea-todo-list-application.onrender.com"/>

    <meta name="_csrf_authenticated" th:content="${_csrf.token}"/>

    <title>About Us</title>

    <link rel="icon" type="icon" href="../../../images/checklist.ico"/>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="../../../css/authenticated/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../../css/authenticated/about.css"/>
    <link href="../../../css/mediaQueries/authenticated.css" rel="stylesheet"/>
</head>
<body>
    
    <div id="modal-view-background">

    </div>

    <header>
        <ul>
            <li>
                <h1>PEA</h1>
            </li>
            
            <div>

                <li>
                    <form>
                        <input oninput="Todo.searchTodoQueryRealtime(this.value)" type="search" placeholder="Search to-do..."/>
                    </form>

                    <div id="search-result-modal">
                        <!---
                            display all result of search
                        -->
                    </div>

                </li>
            
                <li>
                    <a href="/home">
                        <p>Home</p>
                    </a>
                </li>

                <li>
                    <a href="/todays-tasks">
                        <p>Today's Tasks</p>
                    </a>
                </li>
    
                <li>
                    <a href="/completed-tasks">
                        <p>Completed Tasks</p>
                    </a>
                </li>
    
                <li>
                    <a href="/overdue-tasks">
                        <p>Overdue Tasks</p>
                    </a>
                </li>
    
                <li>
                    <a href="/all-tasks">
                        <p>All Tasks</p>
                    </a>
                </li>
    
                <li>

                    <div id="account-modal">
                        
                    </div>

                    <div id="profile-modal">

                        <a href="/" id="profile-modal-username">
                            <img id="profile-logo-href" src="../../../images/try_profile_logo.ico"/>
                            <span id="profile-full-name"></span>
                        </a>

                        <a href="/settings">
                            <img id="settings-logo" src="../../../images/settings.png"/>
                            <span> Settings</span>
                        </a>

                        <form>

                            <button type="submit">
                                <img class="nav-button" id="logout-img" src="../../../images/logout.png"/>
                                <span>Log out</span>

                            </button>

                        </form>

                        <hr/>
                        <footer>PEA &copy; 2024 Made with &hearts; by Jon Arbell De Ocampo</footer>
                    </div>

                    <img id="image-account-icon" src="../../../images/try_profile_logo.ico"/>
                </li>
            </div>
        </ul>
    </header>

    <main>

        <section id="menu-section">

            <h2>MENU</h2>

            <hr/>

            <div id="lists-container">
                <h3>Lists</h3>
                <ul>
                    <!--
                        Lists of lists here
                        <li>
                            <p>Panis</p>
                        </li>
                    -->
                </ul>
            </div>

            <div id="todo-progress-chart">

            </div>

            <button onmouseup="Button.manageList()">Manage List</button>

            <hr/>

            <footer>PEA &copy; 2024</footer>

        </section>

        <section id="main-section">

            <div id="prompt-message">
                
            </div>

            <div id="main-body">

                <div class="nav-body">
                    <div id="main-top-container" class="about-containers">
                        <h1>PEA TO-DO LIST APPLICATION</h1>
              
                        <p>Welcome to the PEA TO-DO LIST APPLICATION! My name is Jon Arbell De Ocampo, and I am thrilled to introduce you to my very first web application. PEA stands for Plan, Execute, Achieve, encapsulating the essence of productivity and accomplishment.</p>
                    </div>
                    
                    <div class="about-containers">
                        <h2>The Journey</h2>
                
                        <p>Over the past three months, I've been immersed in developing the PEA TO-DO LIST APPLICATION. I simultaneously learned HTML, CSS, JavaScript, and Spring Boot, applying these skills as I progressed. Starting with a month of foundational learning, I continued to develop and refine the app, incorporating new knowledge into its design and functionality.</p>
    
                        <p>The backend of the app is powered by Spring Boot with Java, and it uses PostgreSQL for database management. This integration ensures efficient data handling and robust server-side logic.</p>
                        
                        <p>Completing the app within three months, while still learning and applying new technologies, has been a significant achievement. The PEA TO-DO LIST APPLICATION reflects my dedication to transforming ideas into practical solutions through continuous learning and development.</p>
                    </div>
                
                
                    <div class="about-containers">
                        <h2>Why PEA TO-DO LIST APPLICATION?</h2>
                
                        <p>I created the PEA TO-DO LIST APPLICATION because I personally struggled with prioritization and task management. This app serves as a tool to help users like me organize tasks effectively, set priorities, and track progress towards achieving their goals.</p>
                    </div>
                
                    <div class="about-containers">
                        <h2>Features</h2>
                        <ul>
                            <li>
                              <strong>Simple and Intuitive:</strong> Designed to be user-friendly, making task management effortless.
                            </li>
                          
                            <li>
                              <strong>Flexible Task Management:</strong> Organize your tasks, set priorities, and track your progress seamlessly.
                            </li>
                          
                            <li>
                              <strong>Secure Access Control:</strong> Secure your data with JWT authentication, ensuring that only authorized users can access your tasks and information across devices.
                            </li>
                          
                            <li>
                              <strong>Data Protection:</strong> Your information and tasks are safeguarded using robust security measures, including JWT, providing a secure and reliable experience.
                            </li>

                            <li>
                                <strong>Real-Time Search:</strong> Quickly find tasks and information as you type, with live search results that update instantly, making task management more efficient.
                            </li>

                          </ul>
                          
                    </div>
            
                    <div class="about-containers">
                        <h2>Future Plans</h2>
                        <p>At PEA TO-DO LIST APPLICATION, we're dedicated to continual improvement. Our upcoming updates will focus on:</p>
                        <ul>

                            <li>
                                <strong>Enhancing User Experience:</strong> Improving responsiveness to ensure a seamless       experience across all devices, from desktops to mobile phones.
                            </li>
    
                            <li>
                                <strong>Adding Notifications:</strong> Implementing a notification system to keep users informed and engaged with their tasks.
                            </li>
                        </ul>
                        
                    </div>
                
                    <h3 id="last-parag">Thank you for visiting, and I hope the PEA Todo App helps you plan effectively, execute efficiently, and achieve your goals!</h3>
                </div>

                <div id="edit-list-name-container">
                    <form>

                        <span>
                            <p onmouseup="Button.discardEditListName()">&times;</p>
                        </span>

                        <h2>Select List to rename:</h2>

                        <select name="id">
                            <!--
                                all lists of lists to rename
                            -->
                        </select>

                        <input autofocus="autofocus" type="text" name="listName" placeholder="Enter new list name"/>

                        <button type="submit">Rename</button>

                    </form>
                </div>

                <div id="edit-delete-list-modal-pick">

                    <span>
                        <p onmouseup="Button.removeManageListModal()">&times;</p>
                    </span>

                    <h2>Manage your lists:</h2>

                    <div>
                        <button onmouseup="Button.editListName()">Edit List Name</button>
                        <button onmouseup="Button.deleteList()">Delete List</button>
                    </div>

                </div>

                <div id="create-edit-delete-list-container">

                    <div id="add-list-modal-container">
                        
                        <form>
                            <span>
                                <p onmouseup="Button.discardAddList()">&times;</p>
                            </span>

                            <h2>Add List:</h2>

                            <input type="text" autofocus="autofocus" placeholder="List name"/>
                            <button type="submit">Save</button>
                        </form>
                    </div>

                    <div id="delete-list-modal-container">

                        <form>
            
                            <div id="delete-select-list-container">

                                <span>
                                    <p onmouseup="Button.discardDeleteList()">&times;</p>
                                </span>

                                <h2>Select List to delete:</h2>
            
                                <select name="id">
                                    
                                </select>
            
                                <div>
                                    <p>Also delete all tasks within this list:</p>
                                    <input name="deleteTasks" id="check-all-tasks" type="checkbox"/>
                                </div>
            
                                <button onmouseup="Button.confirmDeleteList()" type="button">Delete</button>
                            </div>

                            <div id="delete-list-submit-confirmation">

                                <h3>Are you sure you want to delete this list? If 'Delete All Tasks' is checked, all tasks associated with this list will also be permanently deleted. Please confirm to proceed.</h3>

                                <div>
                                    <button onmouseup="Button.discardDeleteList()" type="reset">Discard</button>
                                    <button type="submit">Delete</button>
                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

            <hr/>

            <footer id="main-foot">
                <div id="logo-footer-container">
                    <img src="../../../images/checklist.png"/>
                    <h2>PEA</h2>
                </div>
                
                <p>Designed and developed by <a href="https://www.linkedin.com/in/jon-arbell-donor-de-ocampo-134083284/">Jon Arbell De Ocampo</a></p>

                <a href="/about-us">About</a>

                <a href="/contact-us">Contact</a>

            </footer>

        </section>

    </main>

    <script type="module" src="../../../js/authenticated/main.js"></script>

</body>
</html>