<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="PEA TO-DO LIST APPLICATION"/>
    <meta property="og:description" content="A simple and intuitive to-do list application designed to help you organize tasks, boost productivity, and keep track of your daily activities"/>
    <meta property="og:image" content="https://www.pea-todo-list-application.onrender.com/static/images/checklist.png"/>
    <meta property="og:url" content="https://www.pea-todo-list-application.onrender.com"/>

    <meta name="_csrf_authenticated" th:content="${_csrf.token}"/>

    <title>P E A </title>

    <link rel="icon" type="icon" href="../../../images/checklist.ico"/>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/> <!--For hamburger button-->

    <link href="../../../css/tailwind-output.css" rel="stylesheet"/>

    <style>
        ::-webkit-scrollbar {
            width: 10px; 
            height: 10px; 
        }

        .menu-section::-webkit-scrollbar-track {
            background: #2B2B2B;
        }

        .todo-section::-webkit-scrollbar-track {
            background: #d0cab5;
        }

        ::-webkit-scrollbar-track{
            position: relative;
            z-index: 50;
        }

        ::-webkit-scrollbar-track:hover{
            background: #253643; 
            z-index: 50;
        }

        ::-webkit-scrollbar-thumb {
            background: #888; 
            border-radius: 10px; 
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #253643 ; 
        }

        /* Apply styles to the scrollbar corner (where vertical and horizontal scrollbars meet) */
        ::-webkit-scrollbar-corner {
            background: #f1f1f1; /* Background color of the corner */
        }
    </style>

</head>
<body class="overflow-y-hidden overflow-x-hidden bg-white-bg xs:h-[92.75vh] lg:h-screen relative z-0">
    
    <div id="modal-view-background" class="hidden h-screen w-screen opacity-80 fixed z-[51] left-0 top-0 bg-[#000000] ">

    </div>

    <header>

        <ul class="h-10vh bg-green-bg shadow-top-nav relative z-50 flex items-center justify-between">
            
            <li class=" text-white-color [text-shadow:_-2px_3px_4px_black] 2xl:text-5xl xl:text-4xl ml-4 xs:text-3xl">
                <h1>
                    <strong>PEA</strong>
                </h1>
            </li>

            <div class="flex items-center 2xl:gap-20 xl:gap-12 lg:gap-10 xs:gap-7">

                <li class="flex items-center sm:mr-12 md:mr-20 lg:mr-0"> 
 
                    <input class="p-4 rounded-2xl 2xl:w-80 sm:w-72 xs:w-44 lg:w-48 text-xs border border-solid border-green-color bg-white-bg" oninput="Todo.searchTodoQueryRealtime(this.value)" type="search" placeholder="Search To-do"/>
                    
                    <div id="search-result-modal" class="hidden absolute bg-white-bg rounded-bl-2xl rounded-br-2xl top-[65%] border border-solid border-t-0 border-green-color min-h-[10vh] max-h-[30vh] xs:w-44 sm:w-72 2xl:w-80 shadow-[_0_3px_2px_black] overflow-y-auto">
                        <!---
                            display all result of search
                        -->
                    </div>

                </li>

                <nav class="lg:flex 2xl:gap-20 xl:gap-12 md:text-white-color lg:text-sm lg:gap-10 xs:hidden">
                    <li>
                        <a class="hover:brightness-150 hover:underline [text-shadow:_0_2px_3px_black]" href="/home">Home</a>
                    </li>
    
                    <li>
                        <a class="hover:brightness-150 hover:underline [text-shadow:_0_2px_3px_black]" href="/todays-tasks">Today's Tasks</a>
                    </li>
    
                    <li>
                        <a class="hover:brightness-150 hover:underline [text-shadow:_0_2px_3px_black]" href="/completed-tasks">Completed Tasks</a>
                    </li>
    
                    <li>
                        <a class="hover:brightness-150 hover:underline [text-shadow:_0_2px_3px_black]" href="/overdue-tasks">Overdue Tasks</a>
                    </li>
    
                    <li>
                        <a class="hover:brightness-150 hover:underline [text-shadow:_0_2px_3px_black]" href="/all-tasks">All Tasks</a>
                    </li>
                </nav>

                <li class="lg:flex items-center mr-4 xs:hidden">

                    <div id="account-modal">
                        
                    </div>

                    <div id="profile-modal" class="hidden fixed bg-white-bg min-w-[20vw] top-[8.5%] right-2 rounded-2xl shadow-[_1px_3px_5px_#2c2c2c] flex-col">

                        <nav class="w-[97.5%] self-center my-2">
                            <a id="profile-modal-username" class="profile-modal-username kw-full p-4 flex items-center bg-[#293b49] hover:bg-gray-800 text-white-color rounded-2xl mb-2">
                                <img class="h-12 w-12 rounded-full" id="profile-logo-href" src="../../../images/try_profile_logo.ico"/>
                                <span id="profile-full-name" class="ml-3 profile-full-name"></span>
                            </a>
    
                            <a href="/settings" class="w-full flex items-center rounded-2xl p-4 hover:bg-gray-400 hover:text-white-color">
                                <img class="h-12 w-12" id="settings-logo" src="../../../images/settings.png"/>
                                <span class="ml-3"> Settings</span>
                            </a>
                        </nav>

                        <form class="w-[97.5%] self-center mb-2 logout">

                            <button type="submit" class="flex items-center w-full rounded-2xl p-4 hover:bg-red-950 hover:text-white-color">
                                <img class="h-12 w-12" id="logout-img" src="../../../images/logout.png"/>
                                <span class="ml-3">Log out</span>

                            </button>

                        </form>

                        <hr class="w-[97.5%] bg-green-bg h-1 self-center"/>
                        <footer class="text-xs h-[2.5vh] flex items-center justify-center">
                            <span>PEA - Made with &hearts; by Jon Arbell De Ocampo</span>
                        </footer>
                    </div>

                    <img class="h-12 w-12 rounded-full cursor-pointer" id="image-account-icon" src="../../../images/try_profile_logo.ico"/>
                </li>

                <li class="lg:hidden xs:block mr-4">
                    <input type="checkbox" id="check" class="peer hidden"/>
                    <label for="check" class="cursor-pointer text-4xl text-white-color [text-shadow:_0_2px_3px_black]">
                        <i class="fa fa-bars"></i>
                    </label>
                </li>

            </div>

        </ul>

    </header>

    <main class="lg:grid lg:grid-cols-[0.25fr_1fr] xl:grid-cols-[0.20fr_1fr] 2xl:grid-cols-[0.15fr_1fr] lg:grid-rows-[1fr]">

        
        <section class="xs:h-[82.75vh] lg:h-90vh bg-brown-bg relative z-40 shadow-[_2.5px_0_3px_black] w-full text-white-color xs:hidden lg:block">

            <div class="flex justify-center items-center h-10vh">
                <h2 class="font-bold text-center">MENU</h2>

            </div>

            <hr class="h-px opacity-50 bg-white-bg"/>

            <section id="lists-container" class="w-full relative z-40 h-60vh">
                <h3 class="p-6 pl-2 font-bold">Lists</h3>

                <nav>
                    <ul class="h-40vh menu-section overflow-y-scroll">
                        <li>
                            <a>
                                <p class="p-4 pl-6 hover:bg-white-bg hover:text-green-color">Personal</p>
                            </a>
                        </li>
    
                        <li>
                            <a>
                                <p class="p-4 pl-6 hover:bg-white-bg hover:text-green-color">Work</p>
                            </a>
                        </li>
    
                    </ul>
                </nav>

            </section>

            <div class="flex justify-center lg:h-[15vh] items-end">
                <button class="mt-2 mb-2 2xl:p-3 2xl:text-xl w-full border-4 h-3/5 border-solid border-green-color rounded-2xl bg-white-bg text-green-color xl:text-lg xl:p-2" onmouseup="Button.manageList()">Manage List</button>
            </div>

            <hr class="h-px opacity-50 bg-white-bg"/>

            <footer class="lg:h-[5vh] flex items-center justify-center">v1.0.7</footer>

        </section>

        <section id="main-section" class="xs:h-[82.75vh] lg:h-90vh relative flex flex-col">

            <div id="prompt-message" class="hidden absolute text-white shadow-[_1px_3px_5px_#2c2c2c] z-[54] opacity-80 p-3 rounded-2xl top-[5%] right-[30%]">
               
            </div>

            <section id="mobile-menu" class="hidden w-full bg-[#293b49] relative z-0 h-[82.75vh] overflow-y-scroll scrollbar-hide">
                <nav class="p-2 flex flex-col min-h-[82.75vh]">

                    <section class="text-white-color flex items-center justify-between mt-2">
                        <h2 class="ml-2 font-bold text-base">Menu</h2>
                        <a href="/settings">
                            <img class="h-7 w-7 rounded-full filter invert brightness-0 saturate-100 mr-2" src="../../../images/settings.png" alt="settings-logo"/>
                        </a>
                    </section>
                    
                    <section class="bg-gray-600 rounded-xl text-white-color p-2 my-4">
                        <a class="profile-modal-username flex items-center h-12">
                            <img class="h-12 w-12 rounded-full" id="profile-logo-href" src="../../../images/try_profile_logo.ico"/>
                            <span class="ml-2 profile-full-name text-sm"></span>
                        </a>
                    </section>

                    <section id="tasks-section" class=" text-white-color">
                        <ul class="grid grid-cols-2 gap-2 text-sm mb-4">
                            <li class="bg-gray-600 w-full h-12 flex justify-center items-center rounded-lg">
                                <a href="/home">Pending Tasks</a>
                            </li>
            
                            <li class="bg-gray-600 w-full h-12 flex justify-center items-center rounded-lg">
                                <a href="/todays-tasks">Today's Tasks</a>
                            </li>
            
                            <li class="bg-gray-600 w-full h-12 flex justify-center items-center rounded-lg">
                                <a href="/completed-tasks">Completed Tasks</a>
                            </li>
            
                            <li class="bg-gray-600 w-full h-12 flex justify-center items-center rounded-lg">
                                <a href="/overdue-tasks">Overdue Tasks</a>
                            </li>
            
                            <li class="bg-gray-600 w-full h-12 flex justify-center items-center rounded-lg">
                                <a href="/all-tasks">All Tasks</a>
                            </li>
                        </ul>
                    </section>

                    <section id="lists-section" class="bg-gray-600 rounded-lg text-white-color flex flex-col items-center justify-between min-h-4 p-2 mb-4">
                        <input type="checkbox" class="hidden peer w-full" id="list-checkbox-mobile"/>
                        <label for="list-checkbox-mobile" class="w-full text-center font-bold">List</label>
                        <hr/>
                        <ul class="hidden overflow-y-auto peer-checked:block h-[25.05vh] w-full">
                            
                        </ul>
                    </section>
                    
                    <section class="text-white-color mt-auto">
                        <ul class="flex flex-col text-sm mb-2 gap-4">
                            <li class="bg-gray-600 w-full p-2 flex justify-center items-center rounded-lg">
                                <a href="/about-us">About</a>
                            </li>
    
                            <li class="bg-gray-600 w-full p-2 flex justify-center items-center rounded-lg">
                                <a href="/contact-us">Contact</a>
                            </li>
                        </ul>
                    </section>

                    <section class="text-white-color mb-2">
                        <button class="p-2 py-4 w-full border-4 border-solid border-green-color rounded-xl bg-white-bg text-green-color" onmouseup="Button.manageList()">Manage List</button>
                    </section>

                    <section class="bg-gray-600 rounded-xl mb-1">

                        <form class="logout">
                            <button type="submit" class="flex items-center justify-center w-full rounded-2xl p-3 text-white-color">
                                <span>Log out</span>
                            </button>

                        </form>
                    </section>

                </nav>
            </section>

            <section id="main-body" class="lg:h-90vh xs:h-[82.75vh] xs:scrollbar-hide lg:scrollbar-default overflow-y-scroll p-2">
                <section class="mb-4">
                    <h1 class="font-bold xs:text-2xl lg:text-3xl mb-1">GET IN TOUCH</h1>
          
                    <p class="xs:text-sm lg:text-base">Thank you for using the PEA TO-DO LIST APPLICATION! We value your feedback and are here to assist with any questions or concerns you may have.</p>
                </section>
                
                <section class="xs:text-sm lg:text-base mb-4">
                    <h2 class="font-bold xs:text-lg lg:text-xl mb-1">Contact Information</h2>
            
                    <ul>
                        <li class="xs:text-sm lg:text-base mb-1">
                            <strong>Email:</strong> deocampo.arbelldonor@gmail.com
                        </li>

                        <li class="xs:text-sm lg:text-base">
                            <strong>Phone number:</strong> 0977-446-9490
                        </li>
                        
                        <li class="xs:text-sm lg:text-base">
                            <strong>Address:</strong> Taguig, City
                        </li>
                    </ul>
                </section>
            
            
                <section class="xs:text-sm lg:text-base mb-4">
                    <h2 class="font-bold xs:text-lg lg:text-xl mb-1">Social Media</h2>
            
                    <ul>
                        <li class="xs:text-sm lg:text-base mb-1">
                            <a href="https://www.linkedin.com/in/jon-arbell-donor-de-ocampo-134083284/">LinkedIn</a>
                        </li>

                        <li class="xs:text-sm lg:text-base">
                            <a href="https://github.com/JonArbell">GitHub</a>
                        </li>
                        
                        <li class="xs:text-sm lg:text-base">
                            <a href="https://web.facebook.com/j.arbelldeocampo">Facebook</a>
                        </li>

                        <li class="xs:text-sm lg:text-base">
                            <a href="https://www.instagram.com/j_arbelldeocampo">Instagram</a>
                        </li>
                    </ul>
                </section>
            
                <section class="mb-4 xs:w-full lg:w-[40%] border-2 border-green-color rounded-xl p-2">
                    <h2 class="font-bold xs:text-lg lg:text-xl mb-1">Feedback Form [Optional]</h2>
                    <form>

                        <section class="xs:flex xs:flex-col lg:block">
                            <label class="xs:text-sm lg:text-base" for="feedback-full-name">Full name:</label>
                            <input class="xs:text-sm lg:text-base p-1 rounded-xl md:w-[70%] lg:w-auto" id="feedback-full-name" type="text" placeholder="Enter your full name"/>

                            <label class="xs:text-sm lg:text-base" for="feedback-email">Email:</label>
                            <input class="xs:text-sm lg:text-base p-1 rounded-xl md:w-[70%] lg:w-auto" id="feedback-email" type="email" placeholder="Enter your email"/>
                        </section>

                        <section>
                            <h4 class="font-bold xs:text-base lg:text-lg mb-1">Feedback Type</h4>
                            <ul>
                                <div class="xs:block gap-4 lg:flex">
                                    <li class="xs:text-sm lg:text-base mb-1">
                                        <label for="user-interface">User Interface</label>
                                        <input id="user-interface" type="checkbox">
                                    </li>
                                  
                                    <li class="xs:text-sm lg:text-base mb-1">
                                        <label for="functionality">Functionality</label>
                                        <input id="functionality" type="checkbox">
                                    </li>
                                  
                                    <li class="xs:text-sm lg:text-base mb-1">
                                        <label for="performance">Performance</label>
                                        <input id="performance" type="checkbox">
                                    </li>
     
                                    <li class="xs:text-sm lg:text-base mb-1">
                                        <label for="user-experience">User Experience</label>
                                        <input id="user-experience" type="checkbox">
                                    </li>
                                </div>

                                <li class="xs:text-sm lg:text-base mb-1 flex items-center gap-2">
                                    <label for="other">Other:</label>
                                    <input class="p-1 rounded-xl" id="other" type="text" placeholder="Please specify">
                                </li>
                            </ul>
                            
                        </section>

                        <section class="flex flex-col mb-1">
                            <label for="detailed-feedback">Provide detailed feedback about the user interface:</label>
                            <textarea class="w-full p-2 rounded-xl" id="detailed-feedback" maxlength="300" minlength="10" rows="5" placeholder="What did you like or dislike?"></textarea>
                        </section>


                        <section class="flex justify-center">
                            <button class="p-4 rounded-xl border-2 border-[#0c1c23] bg-[#293b49] text-white-color" type="submit">Send Feedback</button>
                        </section>
                    </form>
                    
                      
                </section>

                <section>
                    <h2 class="font-bold xs:text-lg lg:text-xl mb-1 text-center">Thank You</h2>
                    <p class="xs:text-sm lg:text-base mb-3 text-center">Thank you for using the PEA TO-DO LIST APPLICATION! We are committed to providing you with a productive and enjoyable task management experience.</p>
                </section>
                
            </section>

            <hr class="w-[97.5%] bg-green-bg h-1 self-center lg:block xs:hidden"/>

            <footer id="main-foot" class="lg:flex items-center justify-center gap-12 h-10vh xs:hidden">
                <div id="logo-footer-container" class="flex items-center gap-2">
                    <img src="../../../images/checklist.png" class="h-12 w-12"/>
                    <h2 class="font-bold text-[#254336] text-xl">PEA</h2>
                </div>
                
                <!-- <p>Designed and developed by <a href="https://www.linkedin.com/in/jon-arbell-donor-de-ocampo-134083284/">Jon Arbell De Ocampo</a></p> -->

                <p>K.E. &copy; 2024 - Keep Exploring. All rights reserved.</p>

                <nav>

                    <ul class="flex items-center justify-center gap-12">
                        <li>
                            <a href="/about-us" class="underline">About</a>
                        </li>

                        <li>
                            <a href="/contact-us" class="underline">Contact</a>
                        </li>
                    </ul>

                </nav>

            </footer>
            
        </section>

    </main>


    <script type="module" src="../../../js/authenticated/main.js"></script>

</body>
</html>