body{
    margin: 0;
    background-color: #d0cab5;
}

*{
    color: #254336;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

input{
    border: 2px solid #254336;
}

header > h1{
    margin: 1.2%;
    margin-top: 0;
    padding-top: 1.2%;
    font-size: 50px;
    text-align: center;
}

header{
    height: 93.031;
}

header > hr{
    margin: 0;
    height: 10px;
    background-color: #254336;

}
main{
    width: 100%;
    height:85vh;
}
#main-page{
    display: flex;
    align-items: center;
}

#advertisement{
    margin-left: 3%;
}

#advertisement h1{
    font-size: 200px;
    margin: 0;
    text-shadow: -5px 5px 7px black;
}

#username{
    width: 94%;
}

#show-password-image,#show-password-image-create-account{
    cursor: pointer;
    margin-right: 10px;
    display: none;
    margin: 0;
}


#login-page{
    margin: 5%;
    align-self: center;
    background-color: #DAD3BE;
    border-radius: 12px;
    height: 55vh;
    width: 30vw;
    box-shadow: 0 7px 7px rgb(34, 34, 34);
    z-index: 5;
}

#password-container{
    border:2px solid #254336;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 99%;
    background-color: #B7B597;
    border-radius: 12px;
}

#login-page > form input[name="password"]{
    border: 0px solid black;
    width: 87%;
    
}

input:-webkit-autofill {
    background-color: rgb(0, 79, 216) !important;
    color: #254336 !important;
}



#login-page > form input,#login-button,#create-new-account-container input,#sign-up-button{
    padding: 2%;
    padding-left: 3%;
    height: 25px;
    border-radius: 12px;
    background-color: #B7B597;
    color: #DAD3BE;
    cursor: pointer;
    font-size: 27px;
}

.buttons{
    text-align: center;
}

#login-page form input,#create-new-account-container input{
    color: #254336;
    cursor: text;
}

#login-page form input::placeholder,#create-new-account-container input::placeholder{
    color: rgb(102, 117, 99);
}

#sign-up-button{
    background-color: #293b49 ;
    color: #DAD3BE !important;
    height: 50px;
    width: 90%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-up-button:hover{
    background-color: #1a2731;
}

#login-page > form,#login-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#login-page > form{
    align-items: flex-start;
    width: 75%;
    height: 40%;
    margin-top: 8%;
    gap: 12%;
    justify-content: space-evenly;
}

#login-page > form button{

    align-self: center;

}

#login-page hr{
    align-self: center;
    height: 3px;
    background-color: #254336;
    width: 95%;
}
#forgot-password-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 99%;
    gap: 20%;
}

#create-new-account-container hr{
    height: 2px;
    background-color: #254336;
    width: 95%;
}

#login-button{
    background-color: #254336;
    width: 100%;
    color: #DAD3BE;
    border-radius: 10px;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-button:hover{
    background-color: #2a5d42;
}

#create-new-account-button{
    font-size: 30px;
    height: 15%;
    width: 50%;
    border-radius: 12px;
    cursor: pointer;
    background-color: wheat;
}
#create-new-account-button:hover{
    background-color: #d2b07f;
    color: wheat;
}
footer{
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.blur-background{
    background-color: rgba(250, 250, 250, 0.301);
    filter: blur(5px);
}


#create-new-account-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 7px 7px rgb(59, 59, 59);
    position: fixed;
    top: 12%;
    left: 33.7%;
    z-index: 10;
    background-color: #DAD3BE;
}

#closeContainer{
    position: absolute;
    top: 0.3%;
    right: 1%;
    align-self: flex-end;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
    
}
#closeContainer:hover{
    color: #432525;
}

#create-new-account-names input{
    width: 43% !important;
}
#terms p{
    margin-top: 5px;
    margin-bottom: 3%;
}

#create-new-account-titles{
    align-self: flex-start;
    margin-left: 3%;
}

#create-new-account-names{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


#create-new-account-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between !important;
    height: 500px;
    width: 95%;
    margin: 5%;
    margin-top: 3%;
}


#create-new-account-titles p{
    margin-top: 0;
}

#create-new-account-titles h1{
    font-size: 50px;
    margin-bottom: 7px;
}

#create-new-account-container form input{
    border-radius: 12px;
    padding: 2%;
    padding-left: 3%;
    width: 94.5%;
}

#create-account-password-container input{
    width: 90% !important;
    border: 0;
}

#create-account-password-container{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    border: 2px solid #254336;
    width: 99.7%;
    border-radius: 12px;
    align-self: flex-start;
    background-color: #B7B597;
}

