<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="PEA TO-DO LIST APPLICATION"/>
        <meta property="og:description" content="A simple and intuitive to-do list application designed to help you organize tasks, boost productivity, and keep track of your daily activities"/>
        <meta property="og:image" content="https://www.pea-todo-list-application.onrender.com/static/images/checklist.png"/>
        <meta property="og:url" content="https://www.pea-todo-list-application.onrender.com"/>

        <meta name="_csrf" th:content="${_csrf.token}"/>

        <title>P E A - log in or sign up</title>

        <link rel="preload" href="./images/showPassword/open.svg" as="image">

        <link rel="preload" href="./images/showPassword/close.svg" as="image">

        <link rel="icon" type="icon" href="./images/checklist.ico" />

        <link rel="stylesheet" href="./css/public/index.css" />

        <link rel="stylesheet" href="./css/mediaQueries/index.css" />

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

    </head>
    <body>

        <div id="prompt-message">

        </div>
        
        <header class="container">

            <div id="title-header">
                <h1 id="pea">PEA</h1>
                <h1>TO-DO LIST APPLICATION</h1>
            </div>

            <hr/>
        </header>

        <main class="container">
            <div id="main-page">
                <div id="advertisement">
                    <h1>Plan,</h1>
                    <h1>Execute,</h1>
                    <h1>Achieve.</h1>
                </div>
        
                <div id="login-page">

                    <form>

                        <input minlength="2" maxlength="25" id="login-usn" required="required"  class="login-input" type="text" placeholder="Username"/>

                        <div class="login-input" id="password-container">
                            <input minlength="8" oninput="onInputPassword(event,'show-password-image','login-pass')" id="login-pass"
                                   required="required" type="password"  placeholder="Password"/>
                            <img id="show-password-image" src="./images/showPassword/close.svg" alt="Toggle Password"/>

                        </div>
                        
                        <button id="login-button" class="buttons" type="submit">LOG IN</button>
                    </form>

                    <div id="forgot-password-container">
                        <a href="/forgot-password">Forgot password?</a>
                        <hr/>
                    </div>
                    
                    <button class="buttons" id="create-new-account-button">Create new account</button>

                </div>

            </div>
            
        </main>

        <div id="create-new-account-container">

            <span id="closeContainer">&times</span>

            <div id="create-new-account-titles">
                <h1>Sign Up</h1>
                <p>It's quick and easy.</p>
            </div>

            <hr/>

            <form onsubmit="return validateForm()">

                <div id="create-new-account-names">
                    <input id="create-account-firstName" maxlength="35" required="required" autofocus="autofocus" type="text"
                           placeholder="First name"/>
                    <input id="create-account-lastName" maxlength="35" required="required" type="text" placeholder="Last name"/>
                </div>
                
                <input id="create-account-email" required="required" type="email" placeholder="Enter your email address"/>
                <input minlength="2" id="create-account-username" maxlength="25" required="required" type="text" placeholder="Create a username"/>
   
                <div id="create-account-password-container">
                    <input minlength="8" id="create-new-password"
                           oninput="onInputPassword(event,'show-password-image-create-account','create-new-password')" required="required" type="password" placeholder="Create a new password"/>
                    <img id="show-password-image-create-account" src="./images/showPassword/close.svg" alt="Toggle Password"/>
                </div>

                <input minlength="8" required="required"  type="password" id="confirmPassword" placeholder="Re-enter your password"/>

                <div id="terms">
                    <p>People who use our service may have uploaded your contact information to PEA</p>
                    <p>By clicking Sign Up, you agree to our <a href="/terms">Terms, Privacy Policy and Cookies Policy</a>.</p>
                </div>

                <button id="sign-up-button">Sign Up</button>
            </form>

        </div>

        <footer class="container" >PEA &copy; 2024</footer>
        
        <script src="./js/public/index.js"></script>
        
        <script>

// <!--            let createAccMessage = `[[${createAccMessage}]]`;-->
// <!--            createAccountMessage(createAccMessage);-->

// <!--            let loginFailedMessage = `[[${loginFailedMessage}]]`;-->
// <!--            handleLoginFailedMessage(loginFailedMessage);-->

// <!--            let logoutMessage = `[[${logoutMessage}]]`;-->
// <!--            handleLogoutMessage(logoutMessage);-->

            

        </script>
        
    </body>
</html>