<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="PEA TO-DO LIST APPLICATION"/>
    <meta property="og:description" content="A simple and intuitive to-do list application designed to help you organize tasks, boost productivity, and keep track of your daily activities"/>
    <meta property="og:image" content="https://www.pea-todo-list-application.onrender.com/static/images/checklist.png"/>
    <meta property="og:url" content="https://www.pea-todo-list-application.onrender.com"/>

    <title>About Us</title>

    <link rel="icon" type="icon" th:href="@{/images/checklist.ico}" />

    <link th:href="@{/css/authenticated/homePage.css}" rel="stylesheet"/>

    <link th:href="@{/css/authenticated/about.css}" rel="stylesheet"/>

</head>
<body>

    <div id="dim-panis">

    </div>

    <header>
        <div class="dim">

            <ul>
                <li class="list-no-hover">
                    <h1 th:onclick="goHome()">P E A</h1>
                </li>

                <li th:onclick="goHome()" class="list-no-hover">
                    <img id="pea-logo-icon" th:src="@{/images/checklist.png}"/>
                </li>

                <li id="list-search">
                    <form method="get" th:action="@{/search}" sec:csrf="true">

                        <input type="search" name="query" id="" placeholder="Search..."/>

                    </form>
                </li>

                <a th:href="@{/home}">
                    <li>
                        <h2>Home</h2>
                    </li>
                </a>

                <a th:href="@{/about-us}">
                    <li>
                        <h2>About</h2>
                    </li>
                </a>


                <a th:href="@{/contact-us}">
                    <li>
                        <h2>Contact</h2>
                    </li>
                </a>

                <li class="list-no-hover" id="list-profile-logo">
                    <img class="nav-button" id="profile-logo" th:src="@{/images/try_profile_logo.ico}"/>

                    <div id="account-modal">
                        <p>Account</p>
                    </div>

                    <div id="profile-modal">

                        <a id="profile-modal-username" th:href="@{/{username}(username=${username})}">
                            <img class="nav-button" id="profile-logo-href" th:src="@{/images/try_profile_logo.ico}" />
                            <span th:text="${username}"></span>
                        </a>

                        <a href="/settings">
                            <img class="nav-button" id="settings-logo" th:src="@{/images/settings.png}"/>
                            <span> Settings</span>
                        </a>

                        <form method="post" th:action="@{/logout}" sec:csrf="true">

                            <button type="submit">
                                <img class="nav-button" id="logout-img" th:src="@{/images/logout.png}"/>
                                <span>Log out</span>

                            </button>

                        </form>

                        <hr/>
                        <footer>PEA &copy; 2024 Made with &hearts; by Jon Arbell De Ocampo</footer>
                    </div>

                </li>

            </ul>

        </div>
    </header>

    <main>
        
        <div id="left-container" class="containers dim">
            <h2>Menu</h2>

            <hr/>

            <div>
                <h3>Tasks</h3>
                <ul>

                    <li>
                        <a th:href="@{/todays-tasks}">Today's Tasks</a>
                    </li>
                    
                    <li>
                        <a th:href="@{/completed-tasks}">Completed Tasks</a>
                    </li>
                    
                    <li>
                        <a th:href="@{/overdue-tasks}">Overdue Tasks</a>
                    </li>
                    
                    <li>
                        <a th:href="@{/all-tasks}">All Tasks</a>
                    </li>

                </ul>
            </div>

            <div id="lists-container">
                <h3>Lists</h3>
                <ul>
                    <li th:each="list : ${lists}">
                        <a th:href="@{/list/{id}(id=${list.id})}" th:text="${list.listName}"></a>
                    </li>
                </ul>
            </div>

            <div id="edit-delete-list-container-modal">

                <h2>Manage your lists:</h2>

                <div>
                    <button id="edit-button-list-container-modal" th:onmouseup="clickedEdit(event)">Edit List Name</button>
                    <button id="delete-button-list-container-modal" th:onmouseup="clickedDelete()">Delete List</button>
                </div>

            </div>

            <div id="edit-list-container-modal">
                <form th:action="@{/list/edit}" method="post" th:object="${list}" sec:csrf="true">

                    <span onmouseup="deleteEditListDiscard(event)" class="closeContainer">
                        <p>&times;</p>
                    </span>

                    <h2>Select List to rename:</h2>

                    <select th:field="*{id}" required="required">
                        <option th:if="${list.listName != 'Personal' && list.listName != 'Work'}" th:each="list : ${lists}" th:value="${list.id}" th:text="${list.listName}"></option>
                    </select>

                    <input th:field="*{listName}" type="text" required="required" placeholder="Enter new list name"/>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <button type="submit">Rename</button>
                </form>
                
            </div>

            <div id="delete-list-container-modal">

                <span onmouseup="deleteEditListDiscard()" class="closeContainer">
                    <p>&times;</p>
                </span>

                <div id="delete-select-list-container">
                    <h2>Select List to delete:</h2>

                    <select id="listSelectDelete">

                        <option th:each="list : ${lists}"
                                th:if="${list.listName != 'Personal' && list.listName != 'Work'}"
                                th:value="${list.id}"
                                th:text="${list.listName}"
                                th:data-name="${list.listName}">

                        </option>

                    </select>

                    <div>

                        <p>Also delete all tasks within this list: </p>
                        <input id="check-all-tasks" type="checkbox"/>
                    </div>

                    <button th:onmouseup="deleteList()">Delete</button>
                </div>

               <div id="delete-form-container">

                    <form method="post" sec:csrf="true">
                        <h2></h2>

                        <input type="hidden" name="deleteTasks"/>

                        <div id="delete-form-buttons-container">

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                            <button type="reset" th:onmouseup="deleteEditListDiscard()">Discard</button>

                            <button type="submit" th:onmouseup="deleteListSubmit()">Delete</button>
                        </div>
                    </form>
               </div>

            </div>

            <div id="manage-list-container">
                <button>Manage List</button>
            </div>

            <hr id="last-left-hr"/>

            <footer>PEA &copy; 2024</footer>
        </div>

        <div id="middle-container" class="containers">

            <div>
                <div id="main-top-container" class="about-containers">
                    <h1>PEA TO-DO LIST APPLICATION</h1>
          
                    <p>Welcome to the PEA TO-DO LIST APPLICATION! My name is Jon Arbell De Ocampo, and I am thrilled to introduce you to my very first web application. PEA stands for Plan, Execute, Achieve, encapsulating the essence of productivity and accomplishment.</p>
                </div>
                
                <div class="about-containers">
                    <h2>The Journey</h2>
            
                    <p>Over the past three months, I've been immersed in developing the PEA TO-DO LIST APPLICATION. I simultaneously learned HTML, CSS, JavaScript, and Spring Boot, applying these skills as I progressed. Starting with a month of foundational learning, I continued to develop and refine the app, incorporating new knowledge into its design and functionality.</p>

                    <p>The backend of the app is powered by Spring Boot with Java, and it uses PostgreSQL for database management. This integration ensures efficient data handling and robust server-side logic.</p>
                    
                    <p>Completing the app within three months, while still learning and applying new technologies, has been a significant achievement. The PEA TO-DO LIST APPLICATION reflects my dedication to transforming ideas into practical solutions through continuous learning and development.</p>
                </div>
            
            
                <div class="about-containers">
                    <h2>Why PEA TO-DO LIST APPLICATION?</h2>
            
                    <p>I created the PEA TO-DO LIST APPLICATION because I personally struggled with prioritization and task management. This app serves as a tool to help users like me organize tasks effectively, set priorities, and track progress towards achieving their goals.</p>
                </div>
            
                <div class="about-containers">
                    <h2>Features</h2>
                    <ul>
                      <li>
                        <strong>Simple and Intuitive:</strong>Designed to be user-friendly, making task management effortless.
                      </li>
                
                      <li>
                        <strong>Flexible Task Management:</strong> Organize your tasks, set priorities, and track your progress seamlessly.
                      </li>
                
                      <li>
                        <strong>Secure Data Management:</strong>Accessible across devices, ensuring you stay productive wherever you go.
                      </li>
        
                      <li>
                        <strong>Secure Data Management:</strong> Your information and tasks are protected with standard security measures, ensuring a safe and reliable experience.</li>
                        
                    <li>
                        <strong>Adding Notifications:</strong> Implementing a notification system to keep users informed and engaged with their tasks.
                    </li>
                   
                    </ul>
                </div>
        
                <div class="about-containers">
                    <h2>Future Plans</h2>
                    <p>At PEA TO-DO LIST APPLICATION, we're dedicated to continual improvement. Our upcoming updates will focus on:</p>
                    <ul>
                        <li><strong>Enhancing Functionality:</strong> Implementing new features and refining existing ones to better meet user needs.</li>

                        <li><strong>Improving User Experience:</strong> Leveraging user feedback to create a more intuitive and enjoyable application.</li>

                        <li><strong>Strengthening Security:</strong> Upgrading our security measures to protect your data and ensure a reliable experience.</li>

                        <li><strong>Introducing Real-Time Search:</strong> Adding real-time search for to-do items to streamline task management and boost productivity.</li>

                        <li>
                            <strong>Real-Time Displaying and Submitting Data:</strong> Implementing real-time updates for displaying and submitting data to ensure a more dynamic and responsive user experience.
                        </li>

                    </ul>
                    
                </div>
            
                
            
                <h3 id="last-parag">Thank you for visiting, and I hope the PEA Todo App helps you plan effectively, execute efficiently, and achieve your goals!</h3>
            </div>
            
        </div>

        <div id="right-container" class="containers dim">

            <div>
                <h2>Welcome,</h2>
                <h2 th:text="${fullname}"></h2>
            </div>

            <hr/>

            <div id="date-and-time-progress-display-container">
                <div class="date-and-time">
                    <p id="date"></p>
                    <p id="time"></p>
                </div>

                <div class="task-progress">

                    <section>
                        <div>
                            <h3>Completed Task:</h3>

                            <div></div>
                        </div>

                        <div id="incomplete-label-container">
                            <h3>Incomplete Task:</h3>

                            <div id="incomplete-donut"></div>
                        </div>

                    </section>

                    <div id="donut" th:data-average="${average}">
                        <div>
                            <p th:text="${average}"></p>
                        </div>
                    </div>

                </div>
            </div>

            <hr/>

            <footer>Designed and developed by Jon Arbell De Ocampo</footer>

        </div>

    </main>

    <script th:src="@{/js/authenticated/profileModal/script.js}"></script>

    <script th:src="@{/js/authenticated/goToHome/script.js}"></script>

    <script th:src="@{/js/authenticated/dynamicallyProgress/script.js}"></script>

    <script th:src="@{/js/authenticated/dateTime/script.js}"></script>

    <script th:src="@{/js/authenticated/manageListButton/script.js}"></script>

    <script th:src="@{/js/authenticated/editDeleteList/script.js}"></script>
    
    <script th:src="@{/js/authenticated/successFailedMessageHandler/list.js}"></script>
    
    <script>

        let getListError = `[[${getListError}]]`;
        handleGetListErrorMessage(getListError);

        let createListMessage = `[[${createListMessage}]]`;
        handleCreateListMessage(createListMessage);

        let editListMessage = `[[${editListMessage}]]`;
        handleEditListMessage(editListMessage);

        let deleteListMessage = `[[${deleteListMessage}]]`;
        handleDeleteListMessage(deleteListMessage);

    </script>
    
</body>
</html>