<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:title" content="PEA TO-DO LIST APPLICATION"/>
    <meta property="og:description" content="A simple and intuitive to-do list application designed to help you organize tasks, boost productivity, and keep track of your daily activities"/>
    <meta property="og:image" content="https://www.pea-todo-list-application.onrender.com/static/images/checklist.png"/>
    <meta property="og:url" content="https://www.pea-todo-list-application.onrender.com"/>

    <meta name="_csrf_authenticated" th:content="${_csrf.token}"/>

    <title>P E A </title>

    <link rel="icon" type="icon" href="../../../images/checklist.ico"/>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/> <!--For hamburger button-->

    <link href="../../../css/tailwind-output.css" rel="stylesheet"/>

    <style>
        ::-webkit-scrollbar {
            width: 10px; 
            height: 10px; 
        }

        .menu-section::-webkit-scrollbar-track {
            background: #2B2B2B;
        }

        .todo-section::-webkit-scrollbar-track {
            background: #d0cab5;
        }

        ::-webkit-scrollbar-track{
            position: relative;
            z-index: 50;
        }

        ::-webkit-scrollbar-track:hover{
            background: #253643; 
            z-index: 50;
        }

        ::-webkit-scrollbar-thumb {
            background: #888; 
            border-radius: 10px; 
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #253643 ; 
        }

        /* Apply styles to the scrollbar corner (where vertical and horizontal scrollbars meet) */
        ::-webkit-scrollbar-corner {
            background: #f1f1f1; /* Background color of the corner */
        }
    </style>

</head>
<body class="overflow-y-hidden overflow-x-hidden bg-white-bg relative z-0">
    
    <div id="modal-view-background" class="hidden h-screen w-screen opacity-70 fixed z-[51] left-0 top-0 bg-[#000000] ">

    </div>

    <header>

        <ul class="h-10vh bg-green-bg shadow-top-nav relative z-50 flex items-center justify-between">
            
            <li class="font-bold text-white-color [text-shadow:_-2px_3px_4px_black] 2xl:text-5xl xl:text-4xl ml-4 lg:text-3xl sm:text-4xl">
                <h1>PEA</h1>
            </li>

            <div class="flex items-center 2xl:gap-20 xl:gap-12 lg:gap-10 sm:gap-24">
                <li class="flex items-center">
 
                    <input class="p-4 rounded-2xl 2xl:w-80 sm:w-72 lg:w-48 text-xs border border-solid border-green-color" oninput="Todo.searchTodoQueryRealtime(this.value)" type="search" placeholder="Search To-do"/>
                    
                    <div id="search-result-modal" class="hidden absolute bg-white rounded-bl-2xl rounded-br-2xl top-[65%] border border-solid border-t-0 border-green-color min-h-[10vh] max-h-[30vh] 2xl:w-80 shadow-[_0_3px_2px_black] overflow-y-auto">
                        <!---
                            display all result of search
                        -->
                    </div>

                </li>

                <nav class="lg:flex 2xl:gap-20 xl:gap-12 text-white-color lg:text-sm lg:gap-10 sm:hidden">
                    <li>
                        <a class="hover:brightness-150 hover:underline [text-shadow:_0_2px_3px_black]" href="/home">Home</a>
                    </li>
    
                    <li>
                        <a class="hover:brightness-150 hover:underline [text-shadow:_0_2px_3px_black]" href="/todays-tasks">Today's Tasks</a>
                    </li>
    
                    <li>
                        <a class="hover:brightness-150 hover:underline [text-shadow:_0_2px_3px_black]" href="/completed-tasks">Completed Tasks</a>
                    </li>
    
                    <li>
                        <a class="hover:brightness-150 hover:underline [text-shadow:_0_2px_3px_black]" href="/overdue-tasks">Overdue Tasks</a>
                    </li>
    
                    <li>
                        <a class="hover:brightness-150 hover:underline [text-shadow:_0_2px_3px_black]" href="/all-tasks">All Tasks</a>
                    </li>
                </nav>

                <li class="lg:flex items-center mr-4 sm:hidden">

                    <div id="account-modal">
                        
                    </div>

                    <div id="profile-modal" class="hidden">

                        <nav>
                            <a id="profile-modal-username">
                                <img class="h-12 w-12 rounded-full" id="profile-logo-href" src="../../../images/try_profile_logo.ico"/>
                                <span id="profile-full-name"></span>
                            </a>
    
                            <a href="/settings">
                                <img class="h-12 w-12" id="settings-logo" src="../../../images/settings.png"/>
                                <span> Settings</span>
                            </a>
                        </nav>

                        <form>

                            <button type="submit">
                                <img class="h-12 w-12" id="logout-img" src="../../../images/logout.png"/>
                                <span>Log out</span>

                            </button>

                        </form>

                        <hr/>
                        <footer>PEA - Made with &hearts; by Jon Arbell De Ocampo</footer>
                    </div>

                    <img class="h-12 w-12 rounded-full" id="image-account-icon" src="../../../images/try_profile_logo.ico"/>
                </li>

                <li id="hamburger-button" class="lg:hidden md:block mr-4 text-4xl text-white-color [text-shadow:_0_2px_3px_black]">
                    <i class="fa fa-bars"></i>
                </li>

            </div>

        </ul>

    </header>

    <main class="lg:grid lg:grid-cols-[0.15fr_1fr] lg:grid-rows-[1fr]">

        <section class="lg:h-90vh bg-brown-bg relative z-40 shadow-[_2.5px_0_3px_black] w-full text-white-color sm:hidden lg:block">

            <div class="flex justify-center items-center h-10vh">
                <h2 class="font-bold text-center">MENU</h2>
            </div>

            <hr class="h-px opacity-50 bg-white-bg"/>

            <section id="lists-container" class="w-full relative z-40 lg:h-60vh"></div>
                <h3 class="p-6 pl-2 font-bold">Lists</h3>

                <nav>
                    <ul class="lg:h-40vh menu-section overflow-y-scroll">
                        <li>
                            <a>
                                <p class="p-4 pl-6 hover:bg-white-bg hover:text-green-color">Personal</p>
                            </a>
                        </li>
    
                        <li>
                            <a>
                                <p class="p-4 pl-6 hover:bg-white-bg hover:text-green-color">Work</p>
                            </a>
                        </li>
    
                    </ul>
                </nav>

            </section>

            <div class="flex justify-center lg:h-[15vh]">
                <button class="mt-2 mb-2 2xl:p-3 2xl:text-xl w-full border-4 border-solid border-green-color rounded-2xl bg-white-bg text-green-color xl:text-lg xl:p-2" onmouseup="Button.manageList()">Manage List</button>
            </div>

            <hr class="h-px opacity-50 bg-white-bg"/>

            <footer class="lg:h-[5vh] flex items-center justify-center">v1.0.5</footer>

        </section>

        <section>
            
        </section>

    </main>


    <script type="module" src="../../../js/authenticated/main.js"></script>

</body>
</html>