<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../../static/css/tailwind-output.css"/>

</head>
<body>
    
    <div class="grid grid-cols-3 gap-4">
        <div class="flex flex-col h-30vh">
          <div class="h-[30%] w-[30%] bg-green-500 m-4">Child 2</div> <!-- Fixed height of 1rem -->
        </div>
        <div class="flex flex-col h-30vh">
          <div class="h-[21rem] bg-red-500">Child 3</div> <!-- Fixed height of 1rem -->
          <div class="h-[2rem] bg-yellow-500">Child 4</div> <!-- Fixed height of 1rem -->
        </div>
        <div class="flex flex-col h-30vh">
          <div class="h-[5rem] bg-purple-500">Child 5</div> <!-- Fixed height of 1rem -->
          <div class="h-[3rem] bg-pink-500">Child 6</div> <!-- Fixed height of 1rem -->
        </div>
      </div>
      
      

</body>
</html>