#main{
    display: flex;
    flex-wrap: wrap;
   
}

.title{
    color: #254336;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#new-acc-title{
    font-size: xx-large;
    margin: 20px;
    margin-left: 30px;
}

#new-acc-title h2{
    margin-top: 20px;
    margin-bottom: 10px;
}


#new-acc-title h5{
    font-size: x-large;
    margin-top: 10px;
}

#new-account-container hr{
    position: relative;
    margin: 5px;
    width: 97.8%;
    height: 2px;
}

#create-acc-form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer{
    position:fixed;
    color: rgb(67, 67, 67);
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    right: 5px;
}

body{
    background-color: #d0cab5;
    margin: 10px;
    margin-top: 20px;
    position: relative;
}

hr{
    background-color: #254336;
    height: 15px;
}

#title-find-acc{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    position: relative;
    left: 5%;
    font-size: 25px;

}

#title{
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#title > h2{
    font-size: 30px;
    margin: 5px;
    margin-bottom: 25px;
}
#title > h1{
    margin:0px;
}

.form-container{
    width: 515px;
    height: 350px;
    margin: 20px;
    margin-left: 5%;
    margin-top: 7%;
    background-color: #DAD3BE;
    box-shadow: 0 0 10px rgba(5, 35, 2, 0.1);
    border-radius: 10px;
}

.submit{
    background-color: #254336;
    color:wheat;
}

#search-submit{
    color: #B7B597;
    background-color: #254336;
}
#search-submit:hover{
    background-color: #10231a;
}


#cancel-button:hover{
    background-color: #dad4c0;
}

.buttons{
    border-radius: 10px;
}

#buttons{
    width: 90%;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    gap: 5%;
}

#forgot-pass-form{
    display: flex;
    color: #254336;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

#search-submit{
    cursor: pointer;
    height: 40px;
    width: 80px;
    text-align: center;
    align-self: self-end;
    margin-bottom: 25px;
}

#cancel-button{
    color: #254336;
    cursor: pointer;
    height: 40px;
    width: 80px;
    align-self: self-end;
    text-align:center;
    margin-bottom: 25px;
    background-color: #d0cab5;
}

#tagline{
    margin-left: 5%;
    width: 45%;
    height: 30%;
    position: relative;
}

#tagline > h3{
    
    font-size: 185px;
    margin: 10px;
    
}

input{
    padding: 10px;
    width: 83%;
    background-color: #B7B597;
    font-size: 32px;
    margin: 12px;
    border-radius: 7px;
}

.login-container{
    margin: 10px;         
}

label{
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: large;
}

#new-account-container{
    display: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    top: 125px;
    position: fixed;
    height: 70%;
    width: 30%;
    background-color: #d0cab5;
    margin: 10px;
    margin-left: 37%;
    
}

#forgot-pass-form hr{
    height: 1px;
    width: 87%;
}


.form-container hr{
    height: 1px;
    margin: 30px;
}


@media(min-width:431px) and (max-width:767px){
    .form-container {
        width: 670px;
        height: 470px;
        margin: 20px;
        margin-left: 4%;
        margin-top: 7%;
        background-color: #DAD3BE;
        box-shadow: 0 0 10px rgba(5, 35, 2, 0.1);
    }


    input {
        text-align: center;
        width: 70%;
        background-color: #B7B597;
        font-size: 35px;
        margin: 12px;
        border-radius: 7px;
    }

    #login-submit {
        height: 40px;
        width: 70%;
        text-align: center;
        margin-bottom: 25px;
    }


    #tagline > h3 {
        text-align: center;
        font-size: 55px;
        margin: 10px;
        
    }
    
    #tagline {
        WIDTH: 100%;
        TEXT-ALIGN: CENTER;
        height: 5%;
    }

}


/*iPad Mini*/
@media(min-width:768px) and (max-width:870px){

    #tagline > h3 {
        text-align: center;
        font-size: 25px;
        margin: 10px;
    }

    #tagline {
        width: 100%;
        margin:0px;
        margin-top: 20px;
        height: 5%;
        position: relative;
    }

    .form-container {
        width: 90.5%;
        height: 470px;
        margin: 20px;
        margin-left: 5%;
        margin-top: 7%;
        background-color: #DAD3BE;
        box-shadow: 0 0 10px rgba(5, 35, 2, 0.1);
    }

    #main{
        flex-direction: column;
    }

}

/*Iphone 14 Pro Max*/
@media (max-width: 430px){



    #tagline > h3 {
        text-align: center;
        font-size: 50px;
        margin: 10px;
    }


    #tagline {
        margin-left: 5%;
        width: 700px;
        height: 5%;
        position: relative;
    }

    .form-container {
        width: 90%;
        position: relative;
        height: 450px;
        margin: 20px;
        margin-left: 5%;
        margin-top: 7%;
        background-color: #DAD3BE;
        box-shadow: 0 0 10px rgba(5, 35, 2, 0.1);
    }

    input {
        text-align: center;
        background-color: #B7B597;
        font-size: 25px;
        margin: 12px;
        border-radius: 7px;
    }

    #login-submit {
        height: 40px;
        width: 250px;
        text-align: center;
        margin-bottom: 25px;
    }

}