
.new-submit{
    margin-top: 10px;
    width: 50%;
}
.new-form input {
    font-size: larger;
}
#left-nav-container li,#right-nav-container li,#add-new-list{
    cursor: pointer;
    padding: 15px;
    border-radius: 12px;
}

#lists-of-tasks,#left-nav-container li,#right-nav-container li,#add-new-list{
    transition: 0.1s ease-in-out;
}

.new-title{
    text-align: center;
}

.title{
    padding: 3px;
    padding-left: 10px;
    background-color: #d0cab5;
    height: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #254336;
    color: #10231a;
}


#tasks-lists-container,#lists-of-tasks-container{
    margin: 5%;
    align-self: flex-start;
    width: 90%;
    margin-bottom: 0;
    margin-top: 4.6%;
}

#lists-of-tasks-container ul{
    height: 85%;
}

#lists-of-tasks-container{
    height: 26%;
    margin-bottom: 9%;
}
#lists-of-tasks{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-bottom: 2.5%;
    overflow-y: hidden;
}

#lists-of-tasks:hover{
    overflow-y: scroll;
}

#left-nav-container footer,#right-nav-container footer{
    font-size: small;
}
#left-nav-container h4,#right-nav-container h4{
    margin: 0;
    
}

footer{
    text-align: center;
}

#left-nav-container hr,#right-nav-container hr,
.title-sort-container hr{
    background-color: #254336;
    height: 2px;
    width: 90%;
    margin: 1.5%;
}

.title-sort-container hr{
    width: 41.3%;
    margin: 0;
    position: fixed;
    top: 22.20%;
}

#left-nav-container ul,#right-nav-container ul{
    margin-left: 20px;
}

#left-nav-container h3{
    text-align: center;
}

#left-nav-container li:hover,#right-nav-container li:hover,#add-new-list:hover{
    color: #DAD3BE;
    cursor: pointer;
    background-color: #254336;
    letter-spacing: 5px;
}

.text-field{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 94.5%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 150px;
    margin-bottom: 30px;
    height: 50%;
}

.cancel-submit-field input{
    height: 50px;
    width: 25%;
    border-radius: 12px;
    background-color: #254336;
    color: #d0cab5;
    cursor: pointer;
}

.cancel-submit-field .cancel-button{
    border: 2px solid #254336;
    background-color: #d0cab5;
    color: #254336;
}

.donut{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: conic-gradient(#253643 0% 70%, #808080 70% 100%);
}

#no-custom{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.percentage{
    align-self: center;
    z-index: 10;
}
#donut-container{
    margin-top: 9%;
    margin-bottom: 7.3%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mini-donut{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #354c5d;
}
#incomplete-task-donut{
    background-color: #808080;
}
.donut-label h5{
    margin: 15px;
}
.donut-label{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.donut-inner{
    position: absolute;
    align-self: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #B0B0B0;
  
}


.cancel-submit-field{
    margin-top:22%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    width: 94.2%;
}

.list-field,.date-field{
    display: flex;
    gap: 21%;
    margin-bottom: 30px;
}
.date-field{
    gap: 6.55%;
}
.date-field input{
    align-self: center;
    width: 34.11%;
    height: 28px;
    border-radius: 7px;
    background-color: #d0cab5;
    border: 2px solid #254336;
    cursor: pointer;
    padding-left: 10px;
    color: #10231a;
}

.label{
    font-weight: 700;
    font-size: x-large;
}

.list-field select{
    color: #10231a;
    align-self: center;
    width: 36.64%;
    height: 32px;
    border-radius: 7px;
    background-color: #d0cab5;
    border: 2px solid #254336;
    cursor: pointer;
    padding-left: 7px;
}


.form-task-container{
    align-self: flex-start;
    margin-left: 5%;
    width: 95%;
    height: 71.5%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
}

.form-task-container h3{
    margin-top: 10%;
    margin-bottom: 0;
}

.description{
    border-radius: 12px;
    padding: 3px;
    padding-left: 10px;
    background-color: #d0cab5;
    resize: none;
    color: #10231a;
    border: 2px solid #254336;
}

#id-date{
    text-align: center;
}

#sort-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    position: fixed;
    right: 33%;
    top: 19%;
}


.nav-button{
    color: #DAD3BE;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
ul {
    list-style-type: none;
    padding: 0;
}
#top-container > img{
    height: 2.5%;
    width: 2.5%;
    cursor: pointer;
}

#top-container > h1{
    cursor: pointer;
}

#logout-lists-container:hover{
    background-color: rgb(69, 0, 0);
    cursor: pointer;
}
#logout-lists-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}

#panis{
    background-color: #d0cab5;
    position: fixed;
    width: 794.719px;
    height: 129.797px;
}

#right-nav-div,#left-nav-div{
    margin-top: 75px;
}

#top-nav{
    position: fixed;
    background-color: #254336;
    width: 100vw;
    box-shadow: 0 3px 2px rgba(24, 24, 24, 0.7);
    height: 75px;
    z-index: 15;
}


#top-nav > ul{
    width: 100%;
    margin: 0;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
}

#main-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
}

#main-top-container p{
    margin-top: 0;
} 

#add-new-list{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    background-color: #d0cab5;
    color: #254336;
    border: 0;
}
.contact-containers a{
    color: #254336;
    text-decoration: underline;
}
.about-containers,.contact-containers{
    font-size: 20px;
}
#edit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54.547px;
}
.logo-and-search{
    width: fit-content;
    display: flex;
    justify-content:right;
    align-items: center;
}
.hint-container{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
#left-nav-container a,#right-nav-container a{
    color: #254336;
    
}



#search-input{
    padding: 5px;
    font-size: medium;
    border-radius: 20px;
}
a{
    text-decoration: none;
}

#ul-profile a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 127%;
}


.nav-container{
    background-color: black;
}

#top-container{
    display: flex;
    align-items: center;
    gap: 1%;
}

#logo,#profile_logo,#profile-pic{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
#sort{
    background-color: #253643;
    border-radius: 7px;
    color:antiquewhite;
    cursor: pointer;
}


#sort:hover{
    background-color: #254336;
    cursor: pointer;
}

#modal-profile{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    visibility:hidden;
    width: 20%;
    height: 30%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    border-radius: 12px;
    top: 60px;
    right: 25px;
    background-color: #DAD3BE;
    box-shadow: 0 2px 15px rgba(24, 24, 24, 0.7);

}
#ul-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
#ul-profile > p{
    font-size: 40%;
    position: fixed;
    margin-top: 17%;
}
#username,#logout{
    margin-left: 0;
}

#profile-lists-container:hover{
    background-color: #6B8A7A;
    cursor: pointer;
}
#profile-lists-container,#logout-lists-container{
    font-weight: bold;
}
#profile-lists-container{
    margin: 10px;
    cursor: pointer;
    width: 100%;
    background-color: #B7B597;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 1px 7px rgba(24, 24, 24, 0.7);
}
.lists{
    font-size: larger;
    color: #254336;
    margin: 10px;
}

#title{
    font-size: 50px;
    margin: 0;
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 5%;
    color: #DAD3BE;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#list-todo{
    display: flex;
    flex-direction: column;
    color: #254336;
    overflow-y: scroll;
}

#todo-list-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 70px;
}
span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.new-buttons-container{
    margin: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* .main{
    display: flex;
    font-size: x-large;
    color: #254336;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 74%;
    position: absolute;
    right: 0;
    top: 70px;
} */

#main{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr 1.3fr;
    width: 100.5%;
    height: 100vh;
    overflow-y: auto;
}

/* #main:hover{

} */


#main-grid-container{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100vh;
}

#welcome-message{
    position: relative;
    margin-top: 500px;
}
.nav-button,#logo{
    text-align: center;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
}
#profile-pic,#logout-pic{
    margin-right: 0;
    margin-left: 5px;
}

@keyframes fadeOut {
    from{
        transform: translateX(0%);
        opacity: 1;
    }
    to{
        transform: translateX(37%);
        opacity: 0;
    }
}


.popup-hidden{
    animation: fadeOut 7s ease-out;
} 



#popup-message{
    z-index: 17;
    position: fixed;
    color: #ffffff;
    height: 30px;
    width: 15%;
    text-align: center;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    right: 27%;
    top: 12%;
    background-color: rgb(127, 180, 127);
    box-shadow: 1px 3px 5px #2c2c2c;
}
#popup-message p {
    width: 100%;
    margin: 0;
    font-size: larger;
}
#logout-pic {
    height: 30px;
    width: 30px;
}

.nav-button:hover{
    background-color: #10231a;
    
}

#profile-pic:hover{
    background-color: #6B8A7A;
}

#logout-pic:hover{
    background-color: rgb(69, 0, 0);
}



input{
    
    background-color: #B7B597;
    border-radius: 5px;
}

.new-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.new-form >h3{
    font-family:'Times New Roman', Times, serif;
}

.empty{
    margin: 0;
    text-align: center;
    font-size: 70px;
    padding: 1px;
}

.todo hr{
    align-self: normal;
    background-color: #254336;
    height: 2px;
    width: 95%;
}

table{
    display: block;
}

th{
    margin: 10px;
    margin-bottom: 20px;
}

#edit-buttons{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 125%;
    gap: 10px;
    justify-content: space-evenly;
}

.edit-todo-form{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#edit-form{
    display: none;
}

.select{
    text-align: center;
}

#create-new-button:hover{
    background-color: #354c5d;
    transform: scale(1.3);
}

#create-new-button {
    border-radius: 10px;
    color: antiquewhite;
    height: fit-content;
    background-color: #253643;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.create-new-button{
    margin-bottom: 2%;
    position: fixed;
    left: 24.56%;
    bottom: 0%;
    height: 225px;
    width: 5.5vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    
}

#create-new-buttons-modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}
#create-new-button-modal-container h5{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: x-large;
}
#create-new-button-modal-container{
    position: fixed;
    bottom: 10%;
    z-index: 10;
    left: 27.3%;
    background-color: #DAD3BE;
    height: 20%;
    width: 15%;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 2px 5px 7px #474747;
    align-items: center;
}

.create-new-buttons-modal {
    color: #d0cab5;
    border-radius: 5.5px;
    width: 35%;
    background-color: #253643;
    font-size: larger;
    cursor: pointer;
    transition: 0.2s ease;
}

.create-new-buttons-modal:hover{
    background-color: #354c5d;
    transform: scale(1.2);
}

/* .confirm-delete-buttons{
    align-self: center;
    justify-self: center;
} */

#delete:hover{
    background-color: rgb(42, 0, 0);
    transform: scale(1.2);
}

#all-todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.background-confirm-modal{
    filter : blur(1px);
    /* background-color: rgba(0, 0, 0, 0.5); */
}

#confirm-delete-modal{
    z-index: 17;
    position: fixed;
    border-radius: 12px;
    box-shadow: 2px 3px 7px rgb(41, 41, 41);
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 35%;
    right: 35%;
}
#delete{
    border-radius: 7px;
    background-color: rgb(69, 0, 0);
    color: rgb(255, 233, 193);
    cursor: pointer;
    transition: 0.2s ease;
}
#edit{
    height: 25px;
    width: 25px;
    border-radius: 12px;
    cursor:pointer;
    transition: 0.2s ease;
}

#edit:hover{
    transform: scale(1.2);
}

#a-edit{
    text-decoration: underline;
}
#edit-delete-container{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;

}



::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}

::-webkit-scrollbar-track {
    background: #d0cab5;
    border-radius: 10px; 
}

::-webkit-scrollbar-track:hover{
    background: #DAD3BE; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}

.title-sort-container{
    width: 90%;
    height: 129.812px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: #253643 ; 
}

/* Apply styles to the scrollbar corner (where vertical and horizontal scrollbars meet) */
::-webkit-scrollbar-corner {
    background: #f1f1f1; /* Background color of the corner */
}

#main-title{
    align-self: flex-start;
    font-size: 38px;
}

#main-title h2{
    margin-bottom: 0;
    margin-top: 3.5%;
    position: fixed;
    top: 4%;
}

body{
    height: 100%;
    background-color: #d0cab5;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.todo{
    border-radius: 12px;
    margin-top: 7%;
    margin-bottom: 15px;
    background-color: #DAD3BE;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.5);
    display: flex;
    border: 1px solid #254336 ;
    height: 290px;
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    z-index: 20;
}

.view-todo-item{
    text-align: center;
    margin: 7px;
    text-decoration: underline;
    
}
.all-data a{
    color: #254336;
}

#desc{
    width: 10vw;
    height: 100px;
}

table tr *{
    width: 10vw;
    text-align: center;
    flex-wrap: wrap;
}

#left-nav-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: #10231a; */
    width: 100%;
    height: 100vh;
    /* position: fixed; */
}

#right-nav-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: #10231a; */
    width: 100%;
    height: 100vh;
    
}

#menu-toggle{
    align-self: flex-end;
    background: transparent;
    border: none;
    color: #254336;
    font-size: 37px;
    cursor: pointer;
    margin-right: 5%;
    border-radius: 12px;
    padding: 0;
    width: 50px;
}
#menu-toggle:hover{
    background-color: #254336;
    color: #DAD3BE;
}

#left-nav-container{
    color: #254336;
    position: fixed;
    height: 100vh;
    width: 23.3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 28.5px;
    box-shadow: 1.5px 0 4px rgba(0, 0, 0, 0.5);
}

/* #left-nav-container h2{

    font-size: 45px;
    
} */

#right-nav-container{
    color: #254336;
    position: fixed;
    height: 100vh;
    width: 30.3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 34.5px;
    box-shadow: -1.5px 0px 4px rgba(0, 0, 0, 0.5);
}

#todo-list-title{
    top: 25%;
    left: 24.47%;
    height: 25px;
    position: fixed;
}

#right-nav-container h2{
    font-size: 30px;
    margin: 16.8px;
    
}
#welcome{
    text-align: center;
}
.main ul {
    list-style-type:disc; 
    padding-left: 70px;
    
}

.main h1{
    margin-top: 15px;
    text-align: center;
}
#time-and-date{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.time-and-date{
    margin: 5%;
    width: 100%;
    font-size: x-large;
}

#last-parag{
    margin: 25px;
    margin-top: 35px;
    text-align: center;
}

.main{
    margin: 20px;
    color: #254336;
    height: 108vh;
}

#main-scroll{
    margin: 0;
    overflow-y: scroll;
    height: 92%;
}


h1{
    font-size: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


  