#main{
    display: flex;
    flex-wrap: wrap;
   
}

.form-container{
    width: 515px;
    height: 470px;
    margin: 20px;
    margin-left: 5%;
    margin-top: 7%;
    background-color: #DAD3BE;
    box-shadow: 0 0 10px rgba(5, 35, 2, 0.1);
    border-radius: 15px;
} 

.title{
    color: #254336;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#new-acc-title{
    font-size: xx-large;
    margin: 20px;
    margin-left: 30px;
}

#new-acc-title h2{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

.close{
    margin-right: 5px;
    position: relative;
    float: right;
    color: #254336;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover{
    text-decoration: none;
    background-color: rgb(62, 111, 89);
    cursor: pointer;
}

#create-new-button-account:hover{
    text-decoration: none;
    background-color: rgb(209, 187, 146);
}

.close:hover{
  color: rgb(80, 0, 0);
  text-decoration: none;
}

#new-acc-title h5{
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: x-large;
    margin-top: 10px;
}

#new-account-container hr{
    position: relative;
    margin: 5px;
    width: 97.8%;
    height: 2px;
}

#create-acc-form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.names-container{
    display: flex;
    width: 100.7%;
}

.names{
    width: 100%;
}

#create-acc-form p{
    display: block;
    color: rgb(70, 70, 70);
    font-size: 13px;
}


footer{
    position:fixed;
    color: rgb(67, 67, 67);
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    right: 5px;
}

body{
    background-color: #d0cab5;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

hr{
    background-color: #254336;
    height: 15px;
}

#title{
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#title > h2{
    font-size: 30px;
    margin: 5px;
    margin-bottom: 25px;
}
#title > h1{
    margin:0px;
}

.submit{
    background-color: #254336;
    color:wheat;
    width: 85.5%;
}

#login-submit{
    text-align: center;
    margin-bottom: 25px;
}



#login-form{
    display: flex;
    color: #254336;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tagline{
    margin-left: 5%;
    width: 45%;
    height: 30%;
    position: relative;
}

#tagline > h3{
    
    font-size: 185px;
    margin: 10px;
    
}

input{
    padding: 5px;
    background-color: #B7B597;
    font-size: 30px;
    margin: 12px;
    border-radius: 7px;
    width: 94%;
}

.login-container{
    margin: 10px;         
}

#overall{
    height: 100%;
    width: 100%;
}

.overlayOverAll{
    background-color: #d0cab5;
    filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.15);
}


#new-account-container{
    display: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    top: 125px;
    position: fixed;
    height: 70%;
    width: 30%;
    background-color: #d0cab5;
    margin: 10px;
    margin-left: 37%;
    
}

.username,.password{
    width: 83%;
}

#forgot-password{
    position: relative;
    font-size: 17px;
    color: #254336;
}

.form-container > hr{
    height: 1px;
    margin: 30px;
}
#create-new-button-account{
    background-color: wheat;
    color:#254336 ;
    font-size: 20px;
    text-align: center;
    height: 65px;
    width: 40%;
    margin-top: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.create-account-button-container{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    margin-bottom: 5%;
}

@media(min-width:431px) and (max-width:767px){
    .form-container {
        width: 670px;
        height: 470px;
        margin: 20px;
        margin-left: 4%;
        margin-top: 7%;
    }


    .create-account-button-container form{
        display: flex;
    }

    input {
        text-align: center;
        width: 70%;
        background-color: #B7B597;
        font-size: 35px;
        margin: 12px;
        border-radius: 7px;
    }

    #login-submit {

        width: 70%;
        text-align: center;
        margin-bottom: 25px;
    }


    #tagline > h3 {
        text-align: center;
        font-size: 55px;
        margin: 10px;
        
    }
    
    #tagline {
        WIDTH: 100%;
        TEXT-ALIGN: CENTER;
        height: 5%;
    }

}


/*iPad Mini*/
@media(min-width:768px) and (max-width:870px){

    #tagline > h3 {
        text-align: center;
        font-size: 25px;
        margin: 10px;
    }

    #tagline {
        width: 100%;
        margin:0px;
        margin-top: 20px;
        height: 5%;
        position: relative;
    }

    .form-container {
        width: 90.5%;
        height: 470px;
        margin: 20px;
        margin-left: 5%;
        margin-top: 7%;
    }

    #main{
        flex-direction: column;
    }

}

/*Iphone 14 Pro Max*/
@media (max-width: 430px){



    #tagline > h3 {
        text-align: center;
        font-size: 50px;
        margin: 10px;
    }

    .create-account-button-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 5%;
    }

    #tagline {
        margin-left: 5%;
        width: 700px;
        height: 5%;
        position: relative;
    }

    .form-container {
        width: 90%;
        position: relative;
        height: 450px;
        margin: 20px;
        margin-left: 5%;
        margin-top: 7%;
    }

    input {
        text-align: center;
        background-color: #B7B597;
        font-size: 25px;
        margin: 12px;
        border-radius: 7px;
    }

    #login-submit {
        width: 250px;
        text-align: center;
        margin-bottom: 25px;
    }

}