/*Extra Small Devices (Mobile Phones in Portrait Mode)*/
@media screen and (max-width: 480px) and (orientation: portrait){
    
    header > ul,header{
        width: 100vw;
    }

    header > ul > div > li > form > input{
        width: 13rem;
    }

    #search-result-modal{
        width: 13rem;
    }
    
    #hamburger-button{
        display: block;
    }

    #hamburger-button > i{
        font-size: 2rem;
        cursor: pointer;
    }

    main{
        grid-template-columns: 1fr;    
    }

    #menu-section{
        display: none;
    }

    #main-body, #main-head{
        width: 100vw;
    }

    #main-head > div{
        padding: 0.2rem 0.2rem 0 0.2rem;
    }

    #sort-container > select{
        font-size: 0.5rem;
    }
    
    #main-body{
        height: 70vh;
    }

    #no-tasks-display > h1{
        font-size: 2rem;
    }

    #main-foot{
        gap: 1.5rem;
        width: 100vw;
    }

    #main-foot a,#main-foot > p{
        font-size: 0.5rem;
    }

    #main-section > button{
        padding: 1rem;
        font-size: 0.7rem;
        left: 1.5%;
    }

    .remove-li{
        display: none;
    }

    #create-edit-todo-modal-container > form > section{
        margin: 0.5rem;
        height: fit-content;
    }

    #create-edit-todo-modal-container{
        width: 80vw;
        padding: 1.5rem;
    }

    #create-edit-todo-modal-container > form > section > textarea, #add-edit-todo-title{
        width: 100%;
    }

    #add-edit-todo-list, #add-edit-todo-target-date{
        width: 30%;
    }

    #list-section > select{
        width: 33.7%;
    }

    #todos-container{
        display: flex;
        padding-left: 0;
        justify-content: center;
    }

    .todo-container{
        width: 80vw;
    }

    #view-details{
        width: 80vw;
    }
}


/*Small Devices (Mobile Phones)*/
@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: portrait){

    

}

/*Medium Devices (Tablets) landscape*/
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape){
    
    

}


/*Medium Devices (Tablets) portrait*/
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait){
    
    
}




/*Large Devices (Tablets in Landscape Mode or Small Laptops)*/
@media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape){
    
   
}


/*Extra Large Devices (Desktops and Large Laptops)*/
@media screen and (min-width: 1200px) and (max-width: 1599px) and (orientation: landscape){
    
    
}


/*Ultra Large Devices (Large Desktops and 4K Screens)*/
@media screen and (min-width: 1600px) and (orientation: landscape){
    
}


/*Custom 720p desktop*/
@media screen and (min-width: 1280px) and (max-width: 1366px) and (orientation: landscape){
    
   

}